/*------------------------------------*\
  #BASE
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

@media screen and (min-width: 20rem) {
  html {
    font-size: calc( 1rem + 0.5 * ((100vw - 20rem) / 60));
  }
}

@media screen and (min-width: 80rem) {
  html {
    font-size: 1.5rem;
  }
}

body {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(45, 60, 73, 1);
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  margin: 3.140rem 0.5rem;
  max-width: 80rem;
  min-width: 18.750rem;
}

img {
  height: auto;
  max-width: 80rem;
  min-width: 18.750rem;
}

figure {
  margin: 0;
}

figcaption {
  line-height: 1.5;
}

div,
h1,
h2,
h3,
p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(2, 179, 228, 1);
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
}

a:hover,
a:focus {
  color: rgba(2, 179, 228, 0.60);
}

/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/
.container {
  display: flex;
  flex-flow: column nowrap;
}

@media screen and (min-width: 40em) {
  .container {
    display: flex;
    flex-flow: row wrap;
  }
}

/*------------------------------------*\
  #MODULE
\*------------------------------------*/
.header {
  border-bottom: 4px solid rgba(125, 151, 173, 1);
  padding: 0 0 1.5rem;
  margin-bottom: 1.65rem;
}

.logo {
  align-self: center;
  fill: rgba(2, 179, 228, 1);
  max-width: 6.250rem;
}

@media screen and (min-width: 40em) {
  .logo {
    align-self: flex-start;
    flex: 0 0 10%;
  }
}

.title-container {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 40em) {
  .title-container {
    flex: 0 0 90%;
    margin-top: 0;
    text-align: right;
  }
}

.title {
  font: 200 2.8em/1 "Raleway", sans-serif;
}

@media screen and (min-width: 40em) {
  .title {
    line-height: 0.8;
  }
}

.subtitle {
  font-size: 1.1em;
  margin-top: 0.75rem;
}

.hero {
  max-height: 400px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.portfolio__title {
  color: rgba(125, 151, 173, 1);
  font-size: 1.266rem;
  margin: 0 0 0.417rem 0.500rem;
}

.project {
  margin-bottom: 1.5rem;
}

.project__title,
.project__link {
  align-self: center;
}

.project__title {
  font-size: 1.424em;
  text-transform: uppercase;
}

.project__link {
  font-size: 0.79em;
}