/*------------------------------------*\
  #BASE
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

@media screen and (min-width: 20rem) {
  html {
    font-size: calc( 1rem + 0.5 * ((100vw - 20rem) / 60));
  }
}

@media screen and (min-width: 80rem) {
  html {
    font-size: 1.5rem;
  }
}

body {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(45, 60, 73, 1);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0 0.5rem;
  max-width: 80rem;
  min-width: 18.750rem;
}

img {
  height: auto;
  max-width: 80rem;
  min-width: 18.750rem;
}

figure {
  margin: 0;
}

div,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}

a {
  color: rgba(2, 179, 228, 1);
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
}

a:hover,
a:focus {
  color: rgba(2, 179, 228, 0.60);
}

/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/*------------------------------------*\
  #MODULE
\*------------------------------------*/
.header {
  border-bottom: 5px solid rgba(125, 151, 173, 1);
  padding: 2rem 0 1.25rem;
  margin-bottom: 1.5rem;
}

.logo {
  align-self: center;
  fill: rgba(2, 179, 228, 1);
  max-width: 6.250rem;
  min-width: 6.250rem;
}

.title {
  font: 200 2.281em/1.5 "Raleway", sans-serif;
}

.subtitle {
  font-size: 1.125em;
}

.hero {
  margin-bottom: 1.5rem;
}

.hero__image {
  max-height: 25rem;
  object-fit: cover;
}

.portfolio__title {
  color: rgba(125, 151, 173, 1);
  font-size: 1.266rem;
  margin: 0 0 0.417rem 0.500rem;
}

.project {
  margin-bottom: 1.5rem;
}

.project__title,
.project__link {
  align-self: center;
}

.project__title {
  font-size: 1.424em;
  text-transform: uppercase;
}

.project__link {
  font-size: 0.79em;
}

/*
.container__element {
  flex: initial;
}

@media screen and (min-width: 40em) {
  .logo-container {
    flex: 0 0 calc(100% / 12);
    margin-left: 0;
  }

  .title-container {
    flex: 0 0 calc(100% / 12 * 11);
  }

  .logo-container,
  .title-container {
    padding: 0rem;
  }

  .page-title,
  .page-sub-title {
    text-align: right;
  }

  .project {
    flex: 0 0 calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
  }
} */